body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#UI{
  /*width: 100%;
  height: 100%;*/
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}

.info{
  padding: 50px;
  right: 0px;
  position: fixed;
  color: white;
}

.close{
  padding: 50px;
  right: 0px;
  position: absolute;
}

svg{
  cursor: pointer;
}

#sidebar{
  width: 600px;
  height: 100%;
  top: 0px;
  right: -3000px;
  transition: all 0.5s;
  position: absolute;
  background-color: white;
  overflow-y: scroll;
}

#sidebar h1{
  font-weight: bolder;
  padding: 50px;
  top: 5px;
  font-size: 60px;
}

.bodyText{
  position: absolute;
  top: 110px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.bodyText p{
  text-align: justify;
  font-size: 1vw;
}

.social-media{
  width: 100%;
}

.social-media svg{
  width: 40px !important;
  height: 40px;
  margin: 12px;
  margin-top: 70px;
  color: grey;
  opacity: 0.5;
}

.social-media svg:hover{
  color: black;
  opacity: 1;
}

#loading{
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: all;
  transition: all 1.5s;
}

.loading {
  display: flex;
  justify-content: center;
}
.loading div {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: #979fd0;
  border-radius: 50%;
  -webkit-animation: 0.9s bounce infinite alternate;
          animation: 0.9s bounce infinite alternate;
}
.loading div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

/* === BASE HEADING === */ 

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  pointer-events: none;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #2 === */
.two{
  left: 150px;
  position: fixed;
  top: 100px;
  transform: scale(1.5);
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none;
}
.two h1 {
  text-transform: capitalize;
  color: white;
}
.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: white;
  padding-bottom: 10px;
}
.alt-two h1 {
  text-align:center;
}
.alt-two h1:before {
  left:50%; margin-left:-30px;
}

.change{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000;
}

#texture-picker{
  width: 150px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Bricks060{
  background-image: url(./thumbs/Bricks060_1K_Color.jpg);
}
#Bricks071{
  background-image: url(./thumbs/Bricks071_1K_Color.jpg);
}
#PaintedPlaster002{
  background-image: url(./thumbs/PaintedPlaster002_1K_Color.jpg);
}
#PaintedPlaster003{
  background-image: url(./thumbs/PaintedPlaster003_1K_Color.jpg);
}
#Plaster004{
  background-image: url(./thumbs/Plaster004_2K_Color.jpg);
}

.option{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
  transition: all 0.5s;
  opacity: 0.5;
}

.option:hover{
opacity: 1;
}